.cart-icon-container {
    padding: 10px;
    position: fixed;
    top: 6%;
    right: 4%;
    z-index: 3;
}

.cart-icon-container:hover {
    background: rgb(200, 200, 200);
    border-radius: 20px;
}

.cart-window-background {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.5);
    overflow-y: scroll;
}

.cart {
    min-width: 240px;
    max-width: 560px;
    margin: 25px auto;
}


.cart-menu {
    background-color: rgb(255, 255, 255);
    padding-top: 5px;
    padding-bottom: 5px;
}


.cart-header {
    border-top-left-radius: 150px 60px;
    background-color: rgb(75, 75, 75);
    height: 40px;
    padding: 5px;
}

.cart-footer {
    background: rgba(75, 75, 75);
    border-bottom-right-radius: 150px 60px;
    height: 40px;
    padding: 5px;
}

.cart-header-text {
    text-align: center;
    height: 28px;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.9);
}

.to-payment-button-text {
    text-align: center;
    height: 28px;
    font-size: 26px;
    color: rgba(255, 255, 255, 0.9);
}

.to-payment-button:hover {
    cursor: pointer;
}

